.searchbar-container{
    display:flex;
    align-items:center;
    width:750px;
    margin-left:25%;
    justify-content:space-between;
    margin-bottom:30px;
}
.head{
    display:flex;
    align-content:center;
}
.camera{
    width:50px;
    height:50px;
}
.insta{
    width:120px;
    height:50px;
}
.compass{
    width:40px;
    height:40px;
}
.heart{
    width:60px;
    height:40px;
}
.profile{
    width:40px;
    height:40px;
}
.input{
    height:20px;
    text-align:center;
    border-radius:8px;
}
.post-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:40%;
    margin-left:35%;
}
.user{
    margin-left:10px;
    font-weight:none;
}
.icon{
    display:flex;
    align-items:center;
}
.bottom-pic{
    width:10%;
    height:10%;
}
.post-pic{
    height:400px;
    width:500px;
}
.top{
    display:flex;
    align-items:center;
    padding-left:15px;
    border:1px solid lightgray;
    width:483px;
}
.top-pic{
    height:30px;
    width:30px;
    border-radius:20px;
}
.username{
    margin-right:10px;
    font-weight:bold;
}
.likes{
    font-weight:bold;
    margin-left:15px;
}
.comments-contaier{
    margin-left:15px;
    display:flex;
}
.comment-input{
    margin-left:15px;
    border-radius:3px;
    width:100%;
    height:30px;
    margin-bottom:30px;
}