
.login{
    width:30%;
    margin-left:40%;
    margin-top:15%;
    border:1px solid gray;
    display:flex;
    flex-direction:column;
    
}
.log-form{
    margin-bottom:20px;
    height:40px;
    text-align:center;
}
.log-button{
    height:50px;
    background-color:black;
    color:white;
}
.log-pic{
    height:110px;
    margin-bottom:10px;
}